# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
*.egg-info/
*.sqlite3

# VSCode
.vscode/

# Node
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
Backend.zip
Backend/etl/rejected/
Backend/etl/raw/
Backend/etl/processed/
New folder/