# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
*.egg-info/
*.sqlite3

# VSCode
.vscode/

# Node
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
Backend.zip
Backend/etl/rejected/CRM HAITHEM-sfax_20260325_231407.xlsx
Backend/etl/rejected/CRM SIHEM-BENAROUS_20260325_232601.xlsx
New folder/CRM AYDA-GABES_20260325_230907.xlsx
New folder/CRM CHEDIA-AKOUDA_20260325_231031.xlsx
New folder/CRM GASSEN-AKOUDA_20260325_231407.xlsx
New folder/CRM HELA-BIRKASSAA_20260325_231426.xlsx
New folder/CRM IMEN-BENAROUS_20260325_231725.xlsx
New folder/CRM KARIM-BENAROUS_20260325_232019.xlsx
New folder/CRM MAHA-birkassaa_20260325_232044.xlsx
New folder/CRM MARIEM-SFAX_20260325_232601.xlsx
New folder/CRM SIWAR-AKOUDA_20260325_232603.xlsx
New folder/CRM TAREK-BENAROUS_20260325_232850.xlsx
