fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
pandas
xlrd
openpyxl
python-calamine
apscheduler
pyodbc
httpx
pandas
xlrd
openpyxl

